/* region.css */
body {
    background-color: white;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 48%;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

.card-img {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-text {
    font-size: 14px;
    color: #757575;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-outline-primary {
    border: 1px solid #007bff;
    color: #007bff;
}

.btn-outline-primary:hover {
    background-color: #007bff;
    color: white;
}

/* 추가된 부분 */
.region-name {
    font-family: 'Pretendard', sans-serif;
    font-weight: 800; /* ExtraBold */
    color: #ff8244;
}
