body {
    background-color: white;
}

form {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 25px;
    font-size: 14px;
    margin-bottom: 10px;
}

.search-icon-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.search-icon {
    width: 20px;
    height: 20px;
}

#search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
}

#search-input::placeholder {
    color: #bdbdbd;
}

.filter-buttons {
    display: flex;
    gap: 10px; /* 버튼들 간의 간격을 설정 */
    margin-bottom: 20px;
}

.filter-buttons .btn {
    padding: 5px 20px;
    font-size: 12px;
    border-radius: 25px; /* 모서리를 둥글게 설정 */
    background-color: white;
    color: #ff8244;
    border: 2px solid #ff8244;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.filter-buttons .btn.active {
    background-color: #ff8244 !important;
    color: white !important;
    border: 2px solid #ff8244 !important;
}

.filter-buttons .btn:hover {
    background-color: #ff8244;
    color: white;
}

#results-list {
    list-style-type: none;
    padding: 0;
}

#results-list li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

#results-list li a {
    text-decoration: none;
    color: #333;
}

#results-list li a:hover {
    text-decoration: underline;
}
