h2 {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 0px;
}

.username {
    font-size: 30px;
    font-weight: 900;
    color: #ff8244;
}

.screen {
    display: flex;
    justify-content: center;
}
