{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />

<div class="screen">
    <div class="div">
        <div class="frame">
            <h1 class="mt-4">어디로 가시나요?</h1>
            <h2 class="mb-4 location-title"><span id="current-location">안암동</span> 카페찾기</h2>

            <div class="button-grid">
                <a href="{% url 'all_cafes' %}" class="btn btn-primary square-button">전체보기</a>
                {% for area in areas %}
                <a href="{% url 'region_cafes' area %}" class="btn btn-outline-primary square-button">{{ area }}</a>
                {% endfor %}
            </div>

            <div class="location-search">
                <h3 class="mb-3">
                    <p class="1">내 주변 3km</p>
                    <p class="2">지금 빈자리 있는 카페</p>
                </h3>
                <button id="current-location-button" class="btn btn-primary">현재 위치로 찾기</button>
            </div>

            <div id="nearby-cafes">
                <p>주변에 빈자리 있는 카페가 없습니다.</p>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('current-location-button').addEventListener('click', function () {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var lat = position.coords.latitude;
                var lng = position.coords.longitude;
                fetch(`?lat=${lat}&lng=${lng}`, {
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                    },
                })
                    .then((response) => response.json())
                    .then((data) => {
                        var cafesContainer = document.getElementById('nearby-cafes');
                        cafesContainer.innerHTML = '';

                        if (data.length > 0) {
                            data.forEach((cafe) => {
                                var cafeElement = `
                                    <div class="card mb-3">
                                        <div class="row no-gutters">
                                            <div class="col-md-4">
                                                <img src="${cafe.cafe_photo}" class="card-img" alt="${cafe.cafe_name}" />
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h5 class="card-title">${cafe.cafe_name} <small>${cafe.distance}km</small></h5>
                                                    <p class="card-text">
                                                        ${cafe.cafe_time}<br />
                                                        잔여석: ${cafe.empty_seats}
                                                    </p>
                                                    <a href="/cafe/${cafe.cafe_id}/" class="btn btn-sm btn-primary">자리잡기</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                `;
                                cafesContainer.insertAdjacentHTML('beforeend', cafeElement);
                            });
                        } else {
                            cafesContainer.innerHTML = '<p>주변에 빈자리 있는 카페가 없습니다.</p>';
                        }
                    })
                    .catch((error) => console.error('Error:', error));
            });
        } else {
            alert('Geolocation is not supported by this browser.');
        }
    });
</script>
{% endblock %}
