{% extends 'base.html' %}{% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'css/search.css' %}" />

<div class="screen">
    <div class="div">
        <div class="frame">
            <form method="get" action="{% url 'search' %}" class="search-form">
                <div class="search-icon-container">
                    <img src="{% static 'img/search.png' %}" class="search-icon" />
                </div>
                <input
                    type="text"
                    name="q"
                    value="{{ query|default:'' }}"
                    placeholder="카페 이름 또는 주소로 검색하기"
                    id="search-input"
                />
            </form>
            <ul id="results-list">
                {% for cafe in cafes %}
                <li><a href="{% url 'cafe_detail' cafe.id %}">{{ cafe.name }}</a> - {{ cafe.address }}</li>
                {% empty %}
                <li>검색 결과가 없습니다.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#search-input').on('input', function () {
            var query = $(this).val();
            $.ajax({
                url: "{% url 'ajax_search' %}",
                data: {
                    q: query,
                },
                dataType: 'json',
                success: function (data) {
                    var resultsList = $('#results-list');
                    resultsList.empty();
                    if (data.length > 0) {
                        data.forEach(function (cafe) {
                            resultsList.append(
                                '<li><a href="/cafe/' + cafe.id + '/">' + cafe.name + '</a> - ' + cafe.address + '</li>'
                            );
                        });
                    } else {
                        resultsList.append('<li>검색 결과가 없습니다.</li>');
                    }
                },
            });
        });
    });
</script>

{% endblock %}
