<!-- user_login.html -->

{% extends 'base.html' %}
{% load static %}

{% block navbar %}
{% endblock %}

{% block content %}

{% load account socialaccount %}
<link rel="stylesheet" href="{% static 'user_login.css' %}" />

<div class="screen">
    <div class="div">
        <div class="overlap">
            <div class="text-wrapper">SitU</div>
            <div class="text-wrapper-2">당신을 위해 남겨둔 자리</div>
        </div>
        {% if messages %}
        <div class="error-messages">
            {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        <form method="post" action="{% url 'user_login' %}">
            {% csrf_token %}
            <div class="rectangle">
                <input type="text" name="username" placeholder="아이디" required />
            </div>
            <div class="rectangle-2">
                <input type="password" name="password" placeholder="비밀번호" required />
            </div>
            <button type="submit" class="group">
                <div class="overlap-group">
                    <div class="text-wrapper-3">로그인하기</div>
                </div>
            </button>
        </form>
        
        <a href="{% url 'home' %}" class="group-wrapper">
            <div class="div-wrapper">
                <div class="text-wrapper-5">비회원으로 이용하기</div>
            </div>
        </a>
        <a href="{% url 'signup' %}" class="overlap-wrapper">  <!-- URL 이름을 'signup'으로 사용 -->
            <div class="overlap-group">
                <div class="text-wrapper-4">회원가입하기</div>
            </div>
        </a>

        <!-- 소셜 로그인 버튼 추가 -->
        <div class="social-login-buttons">
            <form method="POST" action="{% provider_login_url 'kakao' %}">
                {% csrf_token %}
                <button class="primaryAction" type="submit">카카오로 로그인</button>
            </form>
            <form method="POST" action="{% provider_login_url 'naver' %}">
                {% csrf_token %}
                <button class="primaryAction" type="submit">네이버로 로그인</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
