{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/user_likes.css' %}" />
<div class="container">
    <h1>관심 목록</h1>

    {% for favorite in likes %}
    <div class="card mb-3">
        <div class="card-content">
            <div class="card-image">
                <img src="{%static 'img/cafe_photo_1.png' %}" class="card-img" alt="{{ cafe.cafe_name }}" />
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'cafe_detail' favorite.cafe_id %}">{{ cafe.cafe_name }}</a>
                </h5>
                <p class="card-text">
                    {{ cafe.cafe_time }}<br />
                    잔여석: {{ cafe.empty_seats }}
                </p>
            </div>
            <a href="{% url 'seat_map' favorite.cafe_id %}" class="btn btn-sm btn-primary">자리잡기</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %} {% block navbar %} {{ block.super }} {% endblock %}
