{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/user_profile.css' %}" />

<div class="screen">
    <div class="profile-container">
        <h2>
            반갑습니다!
            {{user.name}}님</p>
        </h2>
        <div class="profile-info"></div>
        <div class="reservations">
            <h3>현재 예약</h3>
            {% if current_reservations %}
            <ul>
                {% for reservation in current_reservations %}
                <li>
                    {{ reservation.cafe.cafe_name }} - 좌석 번호: {{ reservation.seat.seats_no }} - 예약 시간: {{
                    reservation.reservation_time }}
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>현재 예약이 없습니다.</p>
            {% endif %}
            <div class="separator"></div>
            <h3>과거 예약 기록</h3>
            {% if past_reservations %}
            <ul>
                {% for reservation in past_reservations %}
                <li>
                    {{ reservation.cafe.cafe_name }} - 좌석 번호: {{ reservation.seat.seats_no }} - 예약 시간: {{
                    reservation.reservation_time }}
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>과거 예약 기록이 없습니다.</p>
            {% endif %}
        </div>
        <div class="separator"></div>
        {% if user.is_authenticated %}
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <div class="profile-actions">
                <a href="{% url 'account_change_password' %}" class="btn btn-secondary">비밀번호 변경</a>
            </div>
            <button type="submit" class="btn btn-primary">로그아웃</button>
        </form>
        {% else %}
        <div class="button-container">
            <a href="{% url 'user_login' %}" class="btn btn-primary">로그인</a>
            <a href="{% url 'user_signup' %}" class="btn btn-secondary">회원가입</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
