<!doctype html>
<html lang="en">
    <head>
        <!--카페 사장님용 관리 페이지-->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/cafe.css' %}" />
    </head>
    <body>
        <div class="title">
            <div class="cafe_info">
                <p class="cafe_time">안녕하세요 사장님!</p>
                <h1 class="cafe_name">{{ cafe.cafe_name }}</h1>
            </div>
            <div class="empty_seat">
                <p>잔여석:{{ cafe.empty_seats }}</p>
            </div>
        </div>
        <hr />
        <div class="container1">
            <div class="data">
                <h2>오늘의 방문자 수</h2>
            </div>
            <div class="data">
                <h2>오늘의 방문자 수</h2>
            </div>
        </div>
        <div class="container2">
            <div class="data">
                <h2>오늘의 방문자 수</h2>
            </div>

            <div class="data">
                <h2>오늘의 방문자 수</h2>
            </div>
        </div>
    </body>
</html>
