{% extends "account/base_manage_password.html" %} {% load allauth i18n %} {% block head_title %} {% trans "Change
Password" %} {% endblock head_title %} {% block content %}
<h1>{% trans "비밀번호 변경" %}</h1>
{% url 'account_change_password' as action_url %}
<form method="post" action="{{ action_url }}">
    {% csrf_token %} {{ redirect_field }} {{ form.as_p }}
    <button type="submit">{% trans "비밀번호 변경" %}</button>
    <a href="{% url 'account_reset_password' %}">{% trans "비밀번호 찾기" %}</a>
</form>
{% endblock content %}
