<!DOCTYPE html>
<html>
<head>
    <title>Seat Overview</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'seat_overview.css' %}">
</head>
<body>
    <h1>안녕하세요, {{ user.name }} 사장님!</h1>
    <table>
        <tr>
            <th>Seat Number</th>
            <th>Status</th>
            <th>Start Time</th>
            <th>Use Time</th>
            <th>Actions</th>
        </tr>
        {% for item in seats_with_reservations %}
        <tr>
            <td>{{ item.seat.seats_no }}</td>
            <td>{{ item.seat.get_seat_status_display }}</td>
            <td>{{ item.seat.seat_start_time }}</td>
            <td>
                {% if item.seat.seat_start_time %}
                    {{ item.seat.seat_start_time|timeuntil }}
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td>
                {% if item.seat.seat_status == 'requesting' and item.reservation %}
                    <a href="{% url 'confirm_reservation' item.reservation.id %}">예약 확정하기</a>
                    <a href="{% url 'cancel_reservation' item.reservation.id %}">예약 취소하기</a>
                {% elif item.seat.seat_status == 'reserved' %}
                    <a href="{% url 'seat_check' item.seat.id %}">착석 체크</a>
                {% else %}
                    <a href="{% url 'create_reservation' item.seat.id %}">예약</a>
                {% endif %}
                {% if item.seat.seat_status != 'available' %}
                    <a href="{% url 'update_seat_status' item.seat.id 'available' %}">빈 자리로 변경</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
