{% extends 'seat_map/seat_map_base.html' %} {% block content %} {{ block.super }} {% load static %}
<link rel="stylesheet" href="{% static 'css/seat_map/seat_map_1.css' %}" />

<body>
    <div class="F1_seat_container">
        <div class="seat_container top">
            <div class="entry">입구</div>
            <div>
                {% for seat in seats %} {% if seat.seats_no == '1' %}
                <div class="seat" id="{{ seat.seat_id }}">
                    <div class="seat chair"></div>
                    <div class="seat table">{{ seat.seat_id }}</div>
                    <div class="seat chair"></div>
                </div>
                {% endif %} {% endfor %} {% for seat in seats %} {% if seat.seats_no == '2' %}
                <div class="seat" id="{{ seat.seat_id }}">
                    <div class="seat chair"></div>
                    <div class="seat table">{{ seat.seat_id }}</div>
                    <div class="seat chair"></div>
                </div>
                {% endif %} {% endfor %}
            </div>
            <div>
                {% for seat in seats %} {% if seat.seats_no == '3' %}
                <div class="seat" id="{{ seat.seat_id }}">
                    <div class="seat chair"></div>
                    <div class="seat table">{{ seat.seat_id }}</div>
                    <div class="seat chair"></div>
                </div>
                {% endif %} {% endfor %} {% for seat in seats %} {% if seat.seats_no == '4' %}
                <div class="seat" id="{{ seat.seat_id }}">
                    <div class="seat chair"></div>
                    <div class="seat table">{{ seat.seat_id }}</div>
                    <div class="seat chair"></div>
                </div>
                {% endif %} {% endfor %}
            </div>
        </div>
        <div class="seat_container middle">
            <div class="box_container">
                <div class="box">픽업대</div>
                <div class="box">2층으로 올라가는 계단</div>
            </div>
            <div class="seats_container middle">
                <div class="seats_container middle1">
                    {% for seat in seats %} {% if seat.seats_no == '5' %}
                    <div class="seat" id="{{ seat.seat_id }}">
                        <div class="seat chair"></div>
                        <div class="seat table">{{ seat.seat_id }}</div>
                        <div class="seat chair"></div>
                    </div>
                    {% endif %} {% endfor %} {% for seat in seats %} {% if seat.seats_no == '6' %}
                    <div class="seat" id="{{ seat.seat_id }}">
                        <div class="seat chair"></div>
                        <div class="seat table">{{ seat.seat_id }}</div>
                        <div class="seat chair"></div>
                    </div>
                    {% endif %} {% endfor %}
                </div>
                <div class="seats_container middle2">
                    {% for seat in seats %} {% if seat.seats_no == '7' %}
                    <div class="seat" id="{{ seat.seat_id }}">
                        <div class="seat chair"></div>
                        <div class="seat table">{{ seat.seat_id }}</div>
                        <div class="seat chair"></div>
                    </div>
                    {% endif %} {% endfor %} {% for seat in seats %} {% if seat.seats_no == '8' %}
                    <div class="seat" id="{{ seat.seat_id }}">
                        <div class="seat chair"></div>
                        <div class="seat table">{{ seat.seat_id }}</div>
                        <div class="seat chair"></div>
                    </div>
                    {% endif %} {% endfor %}
                </div>
            </div>
        </div>
        <div class="seat_container bottom">
            {% for seat in seats %} {% if seat.seats_no == '9' %}
            <div class="seat" id="{{ seat.seat_id }}">
                <div class="seat chair"></div>
                <div class="seat table">{{ seat.seat_id }}</div>
                <div class="seat chair"></div>
            </div>
            {% endif %} {% endfor %}{% for seat in seats %} {% if seat.seats_no == '10' %}
            <div class="seat" id="{{ seat.seat_id }}">
                <div class="seat chair"></div>
                <div class="seat table">{{ seat.seat_id }}</div>
                <div class="seat chair"></div>
            </div>
            {% endif %} {% endfor %}{% for seat in seats %} {% if seat.seats_no == '11' %}
            <div class="seat" id="{{ seat.seat_id }}">
                <div class="seat chair"></div>
                <div class="seat table">{{ seat.seat_id }}</div>
                <div class="seat chair"></div>
            </div>
            {% endif %} {% endfor %} {% for seat in seats %} {% if seat.seats_no == '12' %}
            <div class="seat" id="{{ seat.seat_id }}">
                <div class="seat chair"></div>
                <div class="seat table">{{ seat.seat_id }}</div>
                <div class="seat chair"></div>
            </div>
            {% endif %} {% endfor %}
        </div>
    </div>
</body>
{% endblock %}
