{% extends 'seat_map/seat_map_base.html' %} {% block content %} {{ block.super }} {% load static %}
<link rel="stylesheet" href="{% static 'css/seat_map/seat_map_1.css' %}" />

<body>
    <div class="F1_seat_container">
        <div class="seat_container top">
            <div class="entry">입구</div>
            {% for seat in seats %}
            <div class="seat" id="{{ seat.seat_id }}">
                <div class="seat chair {% if seat.status == 'reserved' %}reserved{% endif %}"></div>
                <div class="seat table {% if seat.status == 'reserved' %}reserved{% endif %}">{{ seat.seat_id }}</div>
                <div class="seat chair {% if seat.status == 'reserved' %}reserved{% endif %}"></div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}
